[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://gitee.com/dscoder/googletest.git
[submodule "submodules/openssl"]
	path = submodules/openssl
	url = https://gitee.com/dscoder/openssl.git
	branch = master-quic-support
[submodule "submodules/everest"]
	path = submodules/everest
	url = https://gitee.com/dscoder/everest-dist.git
	branch = pr/msquic
[submodule "submodules/wil"]
	path = submodules/wil
	url = https://gitee.com/dscoder/wil.git
